In [ ]:
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)

{'a': 1}

In [2]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [4]:
def add_and_mul(a, b):
    return a+b, a*b

print(add_and_mul(3,4))

add, mul = add_and_mul(10,20)
print(f"add: {add}, mul: {mul}")

(7, 12)
add: 30, mul: 200

In [6]:
def say_myself(name, age, man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}입니다.")

    if man:
        print("남자입니다.")

    else:
        print("여자입니다.")


say_myself("강감찬", 690, False)

나의 이름은 강감찬입니다.
나이는 690입니다.
여자입니다.

In [12]:
def vartest(a):
    a = a + 1

vartest(3)

print(a)

1

In [14]:
add = lambda a, b: a+b

print(add(1,2))

3

In [4]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [7]:
f = open("../data/new.txt","w")
f.close()

In [10]:
f = open("../data/new.txt","w")

for i in range(1,11):

    data = "%d번째 줄입니다.\n" % i
    f.write(data)
    print(data)

f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [11]:
f = open("../data/new.txt")
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [13]:
f = open("../data/new.txt")
lines = f.readlines()

for line in lines:
    print(line.strip())

f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [14]:
f = open("../data/new.txt")
data = f.read()

print(data)

f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [18]:
f = open("../data/new.txt","a")
for i in range(10,20):
    f.write(f"{i}번째 줄입니다.\n")

f.close()

In [19]:
with open("../data/new.txt", "w") as f:
    f.write("Life is too short, you need python")

In [20]:
def myfunction():
    pass

print(myfunction())

None

In [ ]:
def my_function(x, /):
  print(x)

my_function(3)

TypeError: my_function() takes 1 positional argument but 2 were given

In [30]:
def my_function(x, /, var, *, y):
  print(x, var, y)

my_function(3, var=4, y=6)
my_function(3, 4, y=6)

3 4 6
3 4 6

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
r = tri_recursion(6)
print(r)

Recursion Example Results:
1
3
6
10
15
21

21